[submodule "lib/neorv32"]
	path = lib/neorv32
	url = https://github.com/NikLeberg/neorv32.git
[submodule "lib/FreeRTOS"]
	path = lib/FreeRTOS
	url = https://github.com/NikLeberg/FreeRTOS.git
	branch = smp-dev-add-two-demos
